<!DOCTYPE html>
<html>
    <head>
        <title>Data Systems Project: Web client</title>
        
        <!-- define meta data -->
        <meta name="description" content="A webclient for a discrete event modeling system, commissioned by the University of Amsterdam." />
        <meta name="author" content="Tycho Atsma" />
        <meta name="viewport" initial-scale="1" width="device-width" height="device-height" />

        <!-- include third party dependencies -->
        <script deferred src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.js"></script>
        <!-- use in production: https://cdnjs.cloudflare.com/ajax/libs/d3/5.12.0/d3.min.js -->

        <!-- include first party dependencies -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bundle.css') }}" />
        <script deferred src="{{ url_for('static', filename='bundle.js') }}"></script>
    </head>

    <body>
        <h1>Data Systems Project: Web client.</h1>

        <!-- define content container -->
        <div id="main"></div>
    </body>

</html>
