{% extends "base.html" %}
{% block content %}

<center>    
	<body>

        <!--<img id="top_logo" src="{{ url_for('static', filename='img/ING_logo.jpg')}}?v=1" alt="ING Logo" align="middle" height="140" width="340">-->


	  <img src="{{ url_for('static', filename='img/ING_logo.jpg')}}" alt="ING Logo" align="middle" height="175" width="380" style="padding-top: 20px;">
	  <!-- Navbar -->

	  <div><a>Downloaded all logfiles<b>{{ sim_file }}</b></a></div>


</body>
    
</center>

{% endblock content %}