{% extends "base.html" %}
{% block content %}

<center>    

	<div id="mytopnav" class="w3-top">
	    <div class="w3-bar w3-orange w3-card w3-left-align w3-large">
	      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-orange"
	        href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
	      <a href="/" class="w3-bar-item w3-button w3-padding-large">Run Simulation</a>
	      <a href="/#Visualisation" class="w3-bar-item w3-button w3-padding-large">Visualization</a>
	      <a href="/project" class="w3-bar-item w3-button w3-hide-small w3-padding-large">Project Description</a>
	    </div>
	  </div>

	<body>
        <!--<img id="top_logo" src="{{ url_for('static', filename='img/ING_logo.jpg')}}?v=1" alt="ING Logo" align="middle" height="140" width="340">-->
	  <img src="{{ url_for('static', filename='img/ING_logo.jpg')}}" alt="ING Logo" align="middle" height="175" width="380" style="padding-top: 20px;">
	  <!-- Navbar -->

	  <!-- First Grid -->
	  
	  <div id="Projectdescription" class="w3-row-padding w3-padding-64 w3-container">
	    <div class="w3-content">
	        
	      <div class="w3-twothird">
	        
	        <h1>Project description</h1>
	        <h5 class="w3-padding-32">The main motivation for this project is to have real-life-like IT metrics to be able
	          to do feed our R&D and analytics initiatives with meaningful data.</h5>
	          

	        <p class="w3-text-grey"> The project aims to create a large scale database of annotated machine metrics in the
	          form of time series. This database, will later be used in a PhD project to test deep learning methods on. The
	          metrics will be an output of a discrete event simulation model of a realistic system with a certain workload,
	          such as log-ins or incoming transactions to be processed, and topology of servers communicating with each
	          other. Independent
	          failures and cascading failures will be simulated in the system to see the effect on the machine metrics,
	          later to be annotated as anomalies. </p>
	          
	      </div>

	      <div class="w3-third w3-center">
	        <img src="{{ url_for('static', filename='img/uva.png')}}" style="padding-left: 10px; padding-top: 15px;">
	        
	      </div>
	    </div>
	  </div>

	  <!-- Second Grid -->
	  <div id="Discreteeventsimulation" class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
	    <div class="w3-content">
	      <div class="w3-third w3-center">
	        <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
	      </div>

	      <div class="w3-twothird">
	        <h1>Discrete event simulation</h1>
	        <h5 class="w3-padding-32">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
	          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
	          laboris nisi ut aliquip ex ea commodo consequat.</h5>

	        <p class="w3-text-grey">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
	          incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
	          laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
	          occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur
	          adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	          quis nostrud exercitation ullamco
	          laboris nisi ut aliquip ex ea commodo consequat.</p>
	      </div>
	    </div>
	  </div>

	</body>
    
</center>

{% endblock content %}